.showtime-detail {
  background: #252629;
  display: flex;
  width: 50%;
}

.category-container-showtime {
  display: flex;
  margin: 5px 0;
  font-size: 14px;
}

.showtime-container {
  padding: 50px 150px;
  background: #252629;
  display: flex;
  

}

.calendar-time {
  margin-left: 50px;
  
}

.trailer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}

.trailer-player {
  z-index: 1001; 
}
